{
  "ensure-rollup-deployment": false,
  "parent-chain": {
    "id": {{ .L1ChainID }},
    "connection": {
      "url": "{{ .L1RPCURL }}"
    }
  },
  "chain": {
    "id": {{ .ChainID }},
    "info-files": ["{{ .InfoFilePath }}"]
  },
  "node": {
    "bold": {
      "rpc-block-number": "latest",
      "strategy": "makeNodes",
      "assertion-posting-interval": "10s"
    },
    "staker": {
      "dangerous": { "without-block-validator": false },
      "disable-challenge": false,
      "enable": false,
      "staker-interval": "10s",
      "make-assertion-interval": "10s",
      "strategy": "MakeNodes"
    },
    "sequencer": true,
    "dangerous": {
      "no-sequencer-coordinator": true,
      "disable-blob-reader": true,
      "no-l1-listener": {{ .NoL1Listener }}
    },
    "parent-chain-reader": {
      "use-finality-data": false
    },
    "delayed-sequencer": {
      "enable": true,
      "use-merge-finality": false,
      "finalize-distance": 0,
      "require-full-finality": false
    },
    "seq-coordinator": {
      "enable": false,
      "redis-url": ""
    },
    "batch-poster": {
      "enable": false,
      "redis-url": ""
    },
    "block-validator": {
      "validation-server": {
        "url": "ws://validation-node:{{ .ValNodePort }}",
        "jwtsecret": "{{ .ValJwtSecret }}"
      }
    },
    "data-availability": {
      "enable": false
    }
  },
  "execution": {
    "sequencer": { "enable": true },
    "forwarding-target": "null"
  },
  "persistent": { "chain": "local" },
  "ws": { "addr": "0.0.0.0" },
  "http": { "addr": "0.0.0.0", "vhosts": "*", "corsdomain": "*" }
}
