{
  "persistent": {
    "chain": "local"
  },
  "ws": {
    "addr": ""
  },
  "http": {
    "addr": ""
  },
  "validation": {
    "api-auth": true,
    "api-public": false
  },
  "auth": {
    "jwtsecret": "{{ .ValJwtSecret }}",
    "addr": "0.0.0.0"
  }
}
